service: XNIPPET

useDotenv: true

provider:
  name: aws
  runtime: python3.11
  region: ap-northeast-2

plugins:
  - serverless-python-requirements
  - serverless-dotenv-plugin

package:
  individually: true

custom:
  pythonRequirements:
    slim: true
    noDeploy:
      - boto3
      - botocore
      - numpy
      - pip
    dockerizePip: true
    layer:
      name: python-app-layer
      compatibleRuntimes:
        - python3.11

functions:
  xnippet-api:
    handler: main.handler
    description: Xnippet AI & AWS services API server
    timeout: 60
    memorySize: 128
    environment:
    url: true

    package:
      patterns:
        - '!node_modules/**'
        - '!yarn.lock'
        - '!package-lock.json'
        - '!package.json'
        - '!venv/**'
        - '!.env'

    layers:
      - { Ref: PythonRequirementsLambdaLayer }
